html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#FFFFFF;
}

header{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    flex-wrap: wrap;
    gap: 1em;
    background-color:#2D3142;
}

header p {
    background-color:#4F5D75;
    color:#fff;
    margin-left: 2.5em;
    font-size: 2.3em;
}

header button a{
    text-decoration: none;
    color: #EF8354;
}
header button{
  flex-grow: 1;
  margin-bottom: .7em;
  padding: .8em 1em;
  background: #4F5D75;
  border-radius: 11px;
  color:#EF8354;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  border: 0;
}


header button:active{
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.header button:hover {
  border-bottom-style: none;
  border-color: #dadada;
}
header button:nth-child(1){
    margin-right: 0.8em;
}
header button:nth-child(2){
    margin-right: 2em;
}

main{
    margin-top: 3em;
    display: flex;
    gap: 2em;
    justify-content:center;
}
main > *{
    width: 100%;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:.5em;
    border:2px solid #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #BFC0C0;
    color: #fff;
    text-align: center;
    margin-bottom: 3em;
}
.item input{
    align-self: flex-start;
}
.item-menu h1{
    background-color: #EF8354;
    padding: .5em;
}

footer{
    border-top:2px solid #FFFFFF;
    background-color:#2D3142;
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: 5em;
}
footer p {
    max-width: 12em;
    padding: .5em;
    color: #fff;
    font-size: 1.2em;
    background-color:#4F5D75;
}

form{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    /* margin-left: 3em; */
    font-size: 1.2em;
    min-height: 100vh;
}

.input-menu{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    max-width: fit-content;
    /* gap: 5em; */
    align-items:center;
    color:#FFFFFF;
    margin-left: 3em;
}
.input-menu p{
    padding: .4em;
    background-color: #4F5D75;
    max-width:fit-content;
}
.input menu input{
    flex-grow: 1;
    
}
.text{
    background-color: #EF8354;
    color: #FFFFFF;
    padding: .5em;
    margin-left: 3em;
    max-width: fit-content;
}
.option{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    max-width: fit-content;
    /* gap: 5em; */
    align-items:center;
    color:#FFFFFF;
    margin-left: 3em;
}
.option p {
    padding: .4em;
    background-color: #4F5D75;
    max-width:fit-content;
}
.book{
    display: none;
}
.dvd{
    display: none;
}
.furniture{
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}
@media (max-width:936px){
    header{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    header p{
        margin-left: .8em;
        font-size: 1.5em;
    }
    header button{
        width: 100%;
        align-self: center;
        font-size: 1.5em;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    main > *{
        max-width: min-content;
    }
    .input-menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
    }
}